.container {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}